<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>אורה שר שלום | מנהיגות חדשה</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/clean-blog.min.css" rel="stylesheet">
    <link href="/static/css/clean-blog.css" rel="stylesheet">

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top " id="mainNav">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive" style="position: left;">
          <ul class="navbar-nav ml-auto" dir="rtl" style="padding-right: 0px; ">
            <li class="nav-item">
              <a class="nav-link" href="about.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">אודות</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="DevelopLeadership.php" style="font-family: 'Varela Round'; font-size: 14px; padding-bottom: 0px;" dir="rtl">פיתוח מנהיגות</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="top: 1.53em;">
              <a class="dropdown-item" href="prog1.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>ניהול בהסתכלות פנימה</b></a>
              <a class="dropdown-item" href="prog2.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>נשים מנהיגות במעגלי חיים</b></a>
            </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="PersonalTraining.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">ליווי ואימון אישי</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="workshops.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">הכשרות</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="HumanResourcesStrategy.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">אסטרטגיית מש"א</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="costumers.php" style="font-family: 'Varela Round'; font-size: 14px; padding-bottom: 0px;" dir="rtl">לקוחות</a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="top: 1.53em;">
              <a class="dropdown-item" href="thanks.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 25%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>מכתבי תודה והמלצה</b></a>
            </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="contact.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">צור קשר</a>
            </li>
          </ul>
        </div>
        <a class="navbar-brand" href="index.php" style="font-family: 'Varela Round';" dir="rtl">מנהיגות חדשה</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/about-bg.jpg')"> <!--pic with licence!!!!!-->
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1 style="font-family: 'Varela Round">קצת על עצמי</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <p dir="rtl" style="text-align: center; font-family: 'Varela Round';"><b>שמי אורה שר שלום ואני מקימה ומנכ"לית החברה:</b><br>
          ילידת ירושלים, אם ל 4 בנות, בת זוג לרמי ואוהבת אנשים.<br>
          צמחתי מהעולם העסקי ואני מביאה ניסיון של שנים רבות במגוון תחומים העוסקים במשאבי אנוש, הדרכה ופיתוח והעצמת ההון האנושי בארגונים.<br>
          אני רואה את עיקר היעוד שלי בפיתוח מנהיגות אישית המעניקה חוסן אישי, ניהולי וארגוני באמצעות תהליכי הסתכלות פנימה.<br>
          עבודה על מנהיגות פנימית היא הבסיס ליצירת התנהלות אישית, ניהולית ועסקית בוטחת הביאה את הפרט והארגון לממש ולהשביח את הערך המוסף הייחודי להם.</p>
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase" style="margin-top: 0px; margin-bottom: 0px; font-family: 'Varela Round';" dir="rtl">ההשכלה שרכשתי: </h2>
            </div>
          </div>
          <p dir="rtl" style="text-align: right; margin-bottom: 10.5px; font-family: 'Varela Round';">&#8226; בוגרת תואר ראשון בחינוך ותאר שני בייעוץ ארגוני מהאוניברסיטה העברית.<br>
          &#8226; בוגרת ביה"ס למצוינות באימון אישי ועסקי של חברת אמושיין.<br>
          &#8226; מילאתי מגוון תפקידם בעולם העסקי וביניהם  מנהלת יחידת גיוס והדרכה בבנק, מנהלת משאבי אנוש בחברת היי-טק וסמנכ"לית משא"ן בחברה גלובלית.<br>
          &#8226; מרצה במגוון רחב של תוכניות באקדמיה ובלימודי חוץ בתחומי הניהול, הדרכה ופיתוח קריירה.<br>
          </p>
          <p dir="rtl" style="text-align: right; margin-top: 0.5px; font-family: 'Varela Round';">
          במהלך השנים ביצעתי עשרות תהליכי ליווי עם בעלי תפקידי מפתח משמעותיים בארגונים ועם אנשים פרטיים, בדרך להוביל אותם להתנהלות מדוייקת בהירה ובוטחת, המעניקה ערך לעצמם ולסביבתם.<br>
          אני מרצה במגוון רחב של תוכניות באקדמיה ובלימודי חוץ בתחומי הניהול, הדרכה ופיתוח קריירה.<br>
          אני נהנת לחלוק את הידע והנסיון שלי עם לקוחותי באמצעות תהליכי ייעוץ וליווי פנים ארגונים, בלימודי במוסדות אקדמאיים וכן בסדנאות ותהליכי ליווי אישי.</p>
           <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase" style="margin-top: 0px; margin-bottom: 0px; font-family: 'Varela Round';" dir="rtl">אני מאמינה ש... </h2>
            </div>
          </div>
          <p dir="rtl" style="text-align: right; margin-bottom: 10.5px; font-family: 'Varela Round';">&#8226; הכל מתחיל בתוכנו – ומשקף החוצה. הבסיס האמיתי לשינוי מתחיל בעבודה על מי שאנחנו במעגלי חיינו <br>
          &#8226; מיקוד ובהירות לגבי מטרתנו הם הדרך להשגת תוצאות יוצאות דופן בזמן קצר.<br>
          &#8226; יחסים והקשבה הם הבסיס ליצירת תוצאות יוצאות דופן בתחום האישי והעסקי.<br>
          &#8226; לכל אדם וארגון יש איכויות המיוחדות לו והכרתם מאפשרים לנו את הדרך למקסם את התוצאות שניתן להגיע אליהם.<br>
          &#8226; עשייה מתוך יושרה ומחויבות נותנים ערך מוסף יחודי לנו ולעומד מולנו.<br>
          &#8226; עשייה מתוך אהבה ושפע.
          </p>
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted" style="margin-top: 0px;">Copyright &copy; Ora Sar-Shalom 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/clean-blog.min.js"></script>

  </body>

</html>

