<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>אורה שר שלום | מנהיגות חדשה</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/clean-blog.min.css" rel="stylesheet">
    <link href="/static/css/clean-blog.css" rel="stylesheet">

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top " id="mainNav">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive" style="position: left;">
          <ul class="navbar-nav ml-auto" dir="rtl" style="padding-right: 0px; ">
            <li class="nav-item">
              <a class="nav-link" href="about.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">אודות</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="DevelopLeadership.php" style="font-family: 'Varela Round'; font-size: 14px; padding-bottom: 0px;" dir="rtl">פיתוח מנהיגות<span class="arrow" style="padding-right: 2px;"> 🢐</span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="top: 1.53em;">
              <a class="dropdown-item" href="prog1.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>ניהול בהסתכלות פנימה</b></a>
              <a class="dropdown-item" href="prog2.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>נשים מנהיגות במעגלי חיים</b></a>
               <a class="dropdown-item" href="prog3.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>פיתוח חזון וערכים</b></a>
            </div>
            </li>

            <li class="nav-item phone">
            <a class="dropdown-item" href="prog1.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>ניהול בהסתכלות פנימה</b></a>
            </li>

            <li class="nav-item phone">
            <a class="dropdown-item" href="prog2.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>נשים מנהיגות במעגלי חיים</b></a>
            </li>

             <li class="nav-item phone">
            <a class="dropdown-item" href="prog3.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>פיתוח חזון וערכים</b></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="PersonalTraining.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">ליווי ואימון אישי</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="HumanResourcesStrategy.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">אסטרטגיית מש"א</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="workshops.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">הכשרות</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="costumers.php" style="font-family: 'Varela Round'; font-size: 14px; padding-bottom: 0px;" dir="rtl">לקוחות<span class="arrow" style="padding-right: 2px;"> 🢐</span></a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="top: 1.53em;">
              <a class="dropdown-item" href="thanks.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 25%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>מכתבי תודה והמלצה</b></a>
              <a class="dropdown-item" href="gallery.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 25%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>גלריה</b></a>
            </div>
            </li>

            <li class="nav-item phone">
            <a class="dropdown-item" href="thanks.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline; margin-right: 25%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>מכתבי תודה והמלצה</b></a>
            </li>
            <li class="nav-item phone">
            <a class="dropdown-item" href="gallery.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 25%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>גלריה</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">צור קשר</a>
            </li>
          </ul>
        </div>
        <a class="navbar-brand" href="index.php" style="font-family: 'Varela Round';" dir="rtl">מנהיגות חדשה</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          תפריט
          <i class="fa fa-bars"></i>
        </button>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/costumers-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1 style="font-family: 'Varela Round';"><b>לקוחות</b></h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!--Services-->
	<section id="services">
	      <div class="container">
	        <div class="row text-center">

              <div class="col-lg-3 col-md-4">
              <span class="fa-stack fa-4x" style="margin-left: 30%;">
                <img src="/static/img/logos/usa-embassy.png" style="height: 120px; width: auto;">
              </span>
            </div>
            <div class="col-lg-3 col-md-4">
              <span class="fa-stack fa-4x">
                <img src="/static/img/logos/knesset.png" style="height: 200px; width: auto;">
              </span>
            </div>
            <div class="col-lg-3 col-md-4">
              <span class="fa-stack fa-4x" style="margin-top: 5%;">
                <img src="/static/img/logos/csc.png" style="height: 170px; width: auto;">
              </span>
            </div>
            <div class="col-lg-3 col-md-4">
              <span class="fa-stack fa-4x" style="margin-top: 5%;"">
                <img src="/static/img/logos/prime-minister.png" style="height: 130px; width: auto;">
              </span>
            </div>

            <div class="col-lg-3 col-md-4">
              <span class="fa-stack fa-4x">
                <img src="/static/img/logos/bae-systems.png" style="height: 90px; width: auto;">
              </span>
            </div>
	          <div class="col-lg-3 col-md-4">
	            <span class="fa-stack fa-4x">
	              <img src="/static/img/logos/azrieli.png" style="height: 130px; width: auto; padding-left: 20%">
	            </span>
	          </div>
	          <div class="col-lg-3 col-md-4">
	            <span class="fa-stack fa-4x">
	              <img src="/static/img/logos/asaf-harofeh.jpg" style="height: 130px; width: auto;">
	            </span>
	          </div>
	          <div class="col-lg-3 col-md-4">
	            <span class="fa-stack fa-4x">
	              <img src="/static/img/logos/afeka.jpg" style="height: 130px; width: auto;">
	            </span>
	          </div>

            <div class="col-lg-3 col-md-4">
              <span class="fa-stack fa-4x">
                <img src="/static/img/logos/greeneye.png" style="height: 100px; width: auto;">
              </span>
            </div>
            <div class="col-lg-3 col-md-4">
              <span class="fa-stack fa-4x">
                <img src="/static/img/logos/elop.jpg" style="height: 90px; width: auto;">
              </span>
            </div>
            <div class="col-lg-3 col-md-4">
              <span class="fa-stack fa-4x" style="margin-right: 40%;">
                <img src="/static/img/logos/reut.png" style="height: 90px; width: auto;">
              </span>
            </div>
            <div class="col-lg-3 col-md-4">
              <span class="fa-stack fa-4x" style="margin-right: 10%;">
                <img src="/static/img/logos/bank-yahav.jpg" style="height: 130px; width: auto; padding-right: 20%;">
              </span>
            </div>

            <div class="col-lg-3 col-md-4">
              <span class="fa-stack fa-4x">
                <img src="/static/img/logos/lev.jpeg" style="height: 100px; width: auto;">
              </span>
            </div>
            <div class="col-lg-3 col-md-4">
              <span class="fa-stack fa-4x">
                <img src="/static/img/logos/rupin.jpeg" style="height: 100px; width: auto;">
              </span>
            </div>
            <div class="col-lg-3 col-md-4">
              <span class="fa-stack fa-4x">
                <img src="/static/img/logos/joint-JDC.png" style="height: auto; width: 200px;">
              </span>
            </div>
            <div class="col-lg-3 col-md-4">
              <span class="fa-stack fa-4x" style="margin-left: 10%;">
                <img src="/static/img/logos/hadassa.png" style="height: 130px; width: auto; padding-right: 20%;">
              </span>
            </div>

            <div class="col-lg-3 col-md-4">
              <span class="fa-stack fa-4x">
                <img src="/static/img/logos/nisko.png" style="height: 120px; width: auto;">
              </span>
            </div>
            <div class="col-lg-3 col-md-4">
              <span class="fa-stack fa-4x">
                <img src="/static/img/logos/ministery-of-foreign-affairs.png" style="height: 110px; width: auto;">
              </span>
            </div>
            <div class="col-lg-3 col-md-4">
              <span class="fa-stack fa-4x">
                <img src="/static/img/logos/Medtronic.png" style="height: auto; width: 170PX;">
              </span>
            </div>
            <div class="col-lg-3 col-md-4">
              <span class="fa-stack fa-4x">
                <img src="/static/img/logos/mafam.jpg" style="height: 110px; width: auto; padding-right: 30%;">
              </span>
            </div>

            <div class="col-lg-3 col-md-4">
              <span class="fa-stack fa-4x">
                <img src="/static/img/logos/pointer.png" style="height: 100px; width: auto;">
              </span>
            </div>
            <div class="col-lg-3 col-md-4">
              <span class="fa-stack fa-4x" style="margin-right: 30%;">
                <img src="/static/img/logos/persys.png" style="height: 90px; width: auto;">
              </span>
            </div>
            <div class="col-lg-3 col-md-4">
              <span class="fa-stack fa-4x">
                <img src="/static/img/logos/peamit.jpg" style="height: 90px; width: auto;">
              </span>
            </div>
            <div class="col-lg-3 col-md-4">
              <span class="fa-stack fa-4x">
                <img src="/static/img/logos/oneup.jpg" style="height: 90px; width: auto; padding-right: 30%;">
              </span>
            </div>

	        </div>
	        <hr>
	      </div>
	    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted" style="margin-top: 0px;">Copyright &copy; Ora Sar-Shalom 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/clean-blog.min.js"></script>

  </body>

</html>
