<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>אורה שר שלום | מנהיגות חדשה</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/clean-blog.min.css" rel="stylesheet">
    <link href="/static/css/clean-blog.css" rel="stylesheet">

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top " id="mainNav">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive" style="position: left;">
          <ul class="navbar-nav ml-auto" dir="rtl" style="padding-right: 0px; ">
            <li class="nav-item">
              <a class="nav-link" href="about.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">אודות</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="DevelopLeadership.php" style="font-family: 'Varela Round'; font-size: 14px; padding-bottom: 0px;" dir="rtl">פיתוח מנהיגות<span class="arrow" style="padding-right: 2px;"> 🢐</span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="top: 1.53em;">
              <a class="dropdown-item" href="prog1.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>ניהול בהסתכלות פנימה</b></a>
              <a class="dropdown-item" href="prog2.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>נשים מנהיגות במעגלי חיים</b></a>
               <a class="dropdown-item" href="prog3.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>פיתוח חזון וערכים</b></a>
            </div>
            </li>

            <li class="nav-item phone">
            <a class="dropdown-item" href="prog1.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>ניהול בהסתכלות פנימה</b></a>
            </li>

            <li class="nav-item phone">
            <a class="dropdown-item" href="prog2.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>נשים מנהיגות במעגלי חיים</b></a>
            </li>

             <li class="nav-item phone">
            <a class="dropdown-item" href="prog3.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>פיתוח חזון וערכים</b></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="PersonalTraining.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">ליווי ואימון אישי</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="HumanResourcesStrategy.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">אסטרטגיית מש"א</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="workshops.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">הכשרות</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="costumers.php" style="font-family: 'Varela Round'; font-size: 14px; padding-bottom: 0px;" dir="rtl">לקוחות<span class="arrow" style="padding-right: 2px;"> 🢐</span></a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="top: 1.53em;">
              <a class="dropdown-item" href="thanks.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 25%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>מכתבי תודה והמלצה</b></a>
              <a class="dropdown-item" href="gallery.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 25%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>גלריה</b></a>
            </div>
            </li>

            <li class="nav-item phone">
            <a class="dropdown-item" href="thanks.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline; margin-right: 25%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>מכתבי תודה והמלצה</b></a>
            </li>
            <li class="nav-item phone">
            <a class="dropdown-item" href="gallery.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 25%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>גלריה</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">צור קשר</a>
            </li>
          </ul>
        </div>
        <a class="navbar-brand" href="index.php" style="font-family: 'Varela Round';" dir="rtl">מנהיגות חדשה</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          תפריט
          <i class="fa fa-bars"></i>
        </button>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/gallery-bg.jpg')">
      <div class="overlay">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="/static/img/s1.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/static/img/s3.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/static/img/s4.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/static/img/s6.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/static/img/s7.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/static/img/s8.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/static/img/s9.jpg">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="/static/img/s10.jpg">
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1 style="font-family: 'Varela Round';"><b>גלריה</b></h1>
            </div>
          </div>
        </div>
      </div>
    </header>

<style type="text/css">
    #gallery {
      text-align: center;
      width: 920px;
      margin: 70px auto;
    }

    #gallery img {
      width: 300px;
      height: 200px;
      -webkit-transition-duration: 0.6s; /*Webkit: animation duration*/
      -moz-transition-duration: 0.6s; /*Mozilla: animation duration*/
      -o-transition-duration: 0.6s; /*Opera: animation duration*/
      opacity: 1; /*initial opacity of the image*/
      z-index: 1; /*place non-hover images behind the hover image*/
      margin: 0; /*remove default margin for images*/
      position: relative; /*solve the problem with z-index in Chrome*/
      padding-bottom: 5px;
    }

    #gallery img:hover { 
      -webkit-transform: scale( 1.5 ); /*Webkit: increase size to 1.5x*/
      -moz-transform: scale( 1.5 ); /*Mozilla: scaling*/
      -o-transform: scale( 1.5 ); /*Opera: scaling*/
      box-shadow: 0px 0px 25px gray; /*CSS3 shadows: 25px fuzzy shadow around the entire image*/
      -webkit-box-shadow: 0px 0px 25px gray; /*Webkit: shadows*/
      -moz-box-shadow: 0px 0px 25px gray; /*Mozilla: shadows*/
      opacity: 1; /*default opacity*/
      z-index: 10; /*place hover image in front the non-hover images*/
    }
</style>

<div class="container-fluid">
<div class="row">
<div id="gallery">
  <img alt="" src="/static/img/s1.jpg" />
  <img alt="" src="/static/img/s2.jpg" / style="width: 200px !important; transform: rotate(90deg);">
  <img alt="" src="/static/img/s3.jpg" />
  <img alt="" src="/static/img/s4.jpg" />
  <img alt="" src="/static/img/s5.jpg" />
  <img alt="" src="/static/img/s6.jpg" />
  <img alt="" src="/static/img/s7.jpg" />
  <img alt="" src="/static/img/s8.jpg" />
  <img alt="" src="/static/img/s9.jpg" />
  <img alt="" src="/static/img/s10.jpg" / style="width: 200px !important;">
</div>
</div>
</div>
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted" style="margin-top: 0px;">Copyright &copy; Ora Sar-Shalom 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/clean-blog.min.js"></script>

  </body>

</html>
