<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>אורה שר שלום | מנהיגות חדשה</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/clean-blog.min.css" rel="stylesheet">
    <link href="/static/css/clean-blog.css" rel="stylesheet">

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top " id="mainNav">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive" style="position: left;">
          <ul class="navbar-nav ml-auto" dir="rtl" style="padding-right: 0px; ">
            <li class="nav-item">
              <a class="nav-link" href="about.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">אודות</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="DevelopLeadership.html" style="font-family: 'Varela Round'; font-size: 14px; padding-bottom: 0px;" dir="rtl">פיתוח מנהיגות</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="top: 1.53em;">
		          <a class="dropdown-item" href="prog1.html" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>ניהול בהסתכלות פנימה</b></a>
		          <a class="dropdown-item" href="prog2.html" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>נשים מנהיגות במעגלי חיים</b></a>
		        </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="PersonalTraining.html" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">ליווי ואימון אישי</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="workshops.html" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">הכשרות</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="HumanResourcesStrategy.html" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">אסטרטגיית מש"א</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="costumers.html" style="font-family: 'Varela Round'; font-size: 14px; padding-bottom: 0px;" dir="rtl">לקוחות</a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="top: 1.53em;">
		          <a class="dropdown-item" href="thanks.html" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 25%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>מכתבי תודה והמלצה</b></a>
		        </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="contact.html" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">צור קשר</a>
            </li>
          </ul>
        </div>
        <a class="navbar-brand" href="index.html" style="font-family: 'Varela Round';" dir="rtl">מנהיגות חדשה</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1 style="font-family: 'Varela Round';"><b>אורה שר שלום</b></h1>
              <span class="subheading" style="font-family: 'Varela Round';">פיתוח מנהיגות וחוסן אישי ניהולי וארגוני</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!--Services-->
	<section id="services">
	      <div class="container">
	        <div class="row">
	          <div class="col-lg-12 text-center">
	            <h2 class="section-heading text-uppercase" style="margin-top: 0px; font-family: 'Varela Round';">שירותים</h2>
	            <h3 class="section-subheading text-muted" dir="rtl" style="font-family: 'Varela Round';">החברה מציעה מגוון שירותים ב-3 תחומים עיקריים:</h3>
	          </div>
	        </div>
	        <div class="row text-center">
	          <div class="col-md-4">
	            <span class="fa-stack fa-4x">
	              <img src="/static/img/fox.jpg" style="border-radius: 50%; height: 130px; width: 130px;">
	            </span>
	            <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;">בניית אסטרטגיית<br>משאבי אנוש</h4>
	            <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">תחום משאבי אנוש בארגון והדרך בה מנהל מטפל בנושאים העומדים על סדר היום הארגוני הינו השתקפות של תפיסת הארגון ומכן שתעשה עבודה של הסתכלות פנימית ארגונית.</p>
	          </div>
	          <div class="col-md-4">
	            <span class="fa-stack fa-4x">
	              <img src="/static/img/penguins.jpg" style="border-radius: 50%; height: 130px; width: 130px;">
	            </span>
	            <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;">ליווי ואימון<br>אישי וצוותי</h4>
	            <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">תהליכי הליווי והאימון האישי מבקשים לחקור יחד עם המלווה את אופן התנהלותו, ערכיו והשתקפות כל זאת בסגנון האישי והניהולי.</p>
	          </div>
	          <div class="col-md-4">
	            <span class="fa-stack fa-4x">
	              <img src="/static/img/lion.jpg" style="border-radius: 50%; height: 130px; width: 130px;">
	            </span>
	            <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;">פיתוח מנהיגות<br>פנימית וארגונית</h4>
	            <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">הבסיס לפיתוח מנהיגות איכותית מתחיל בעבודה פנימית. אדם נידרש לעשות עבודת מנהיגות פנימית בטרם יוכל לצאת ולהנהיג בחוץ.</p>
	          </div>
	        </div>
	        <hr>
	      </div>
	    </section>

	<!-- Vision -->
    <section id="download" class="download-section content-section text-center">
      <div class="container">
          <h2 style="margin-top: 40px; text-decoration: underline; font-family: 'Varela Round';">החזון שלנו</h2>
      	<div class="row">
          <div class="col-md-6" style="background-image: url('/static/img/vision-bg.jpg'); background-repeat: no-repeat; background-size: 100%; display: inline-block; vertical-align: middle; margin-top: 60px; right: 20px;">

          </div>
           <div class="col-md-6">
          <p dir="rtl" style="font-family: 'Varela Round'; text-align: right;"><b>פיתוח מנהיגות וחוסן אישי ניהולי וארגוני באמצעות תהליכי הסתכלות פנימה המביאים אותנו להיות קרובים, מפוייסים ומייטיבים עם עצמנו וסביבתנו.<br></b> הבסיס  הראשוני לפיתוח מנהיגות איכותית ומובילה מתחיל בעבודה על היותו ומי אנו מביאים את עצמנו במעגלי חיינו.<br>
העבודה על מי שאנחנו תשתקף בכל מעגלי חיינו...<br>
העשייה המקצועית והעסקית שלנו, תביא אותנו לפעול ממקום של דיוק, בהירות ופעולה נינוחה ומתוך הבנה מלאה לערך שאנו נותנים לסביבתנו.

באמצעות תהליכי הליווי והיעוץ השונים, מתפתחת חשיבה רחבה יותר לגבי מה אפשרי עבור המלווה  והארגון, נוצרת  תפיסת יכולת גבוהה יותר והתנהלות בהירה ומחויבת למטרות יוצאות דופן שהציבו לעצמם.

הכלים שנעשים בהם שימוש באים מעולם הייעוץ הארגוני, האימון האישי והעסקי ומשנות נסיון רבות ומשלבים ידע מקצועי נרחב, תפיסות שפע ויצירת תודעה פתוחה ומאתגרת לגבי מה ניתן להשיג.</p>
          </div>
          </div>
        <hr>
      </div>
    </section>

    <!--Values-->
	<section id="services">
	      <div class="container">
	        <div class="row">
	          <div class="col-lg-12 text-center">
	            <h2 class="section-heading text-uppercase" style="margin-top: 15px; font-family: 'Varela Round'; ">ערכים מנחים</h2>
	          </div>
	        </div>
	        <div class="row text-center">
	          <div class="col-md-4">
	            <span class="fa-stack fa-4x">
	              <img src="/static/img/flower.jpg" style="border-radius: 50%; height: 130px; width: 130px;">
	            </span>
	            <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;">שפע וטוב לב</h4>
	            <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">פעולה ממקום נדיב ומרחיב את הטוב</p>
	          </div>
	          <div class="col-md-4">
	            <span class="fa-stack fa-4x">
	              <img src="/static/img/butterfly.jpg" style="border-radius: 50%; height: 130px; width: 130px;">
	            </span>
	            <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;">מתן ערך</h4>
	            <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">בניית תהליכים משמעותיים לקידום התחדשות ומצויינות</p>
	          </div>
	          <div class="col-md-4">
	            <span class="fa-stack fa-4x">
	              <img src="/static/img/horse.jpg" style="border-radius: 50%; height: 130px; width: 130px;">
	            </span>
	            <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;">אותנטית ויושרה</h4>
	            <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;"> להתנהל ממקום של כנות ויושרה מול עצמנו ועם סביבתינו</p>
	          </div>
	        </div>
	        <div class="row text-center">
	          <div class="col-md-4">
	            <span class="fa-stack fa-4x">
	              <img src="/static/img/path.jpg" style="border-radius: 50%; height: 130px; width: 130px;">
	            </span>
	            <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;">הכל אפשרי</h4>
	            <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">עד שלא הוכח אחרת, הכל ניתן ואפשרי</p>
	          </div>
	          <div class="col-md-4">
	            <span class="fa-stack fa-4x">
	              <img src="/static/img/dogs.jpg" style="border-radius: 50%; height: 130px; width: 130px;">
	            </span>
	            <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;">שותפות</h4>
	            <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">שותפות עם הלקוח בדרך להובלה ולהצלחה</p>
	          </div>
	          <div class="col-md-4">
	            <span class="fa-stack fa-4x">
	              <img src="/static/img/grapes.jpg" style="border-radius: 50%; height: 130px; width: 130px;">
	            </span>
	            <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;">פשטות</h4>
	            <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">פעולה ממקום מדוייק, בהיר ופשוט</p>
	          </div>
	        </div>
	        <hr style="margin-bottom: 0px;">
	      </div>
	    </section>

	    <!-- Vision -->
    <section id="download" class="download-section content-section text-center" style="background-image: url('/static/img/leaves.jpg'); background-repeat: no-repeat; background-size: 100%; ">
      <div class="container">
          <h2 style="margin-top: 0px;font-family: 'Varela Round';padding-top: 40px; color: white;" dir="rtl">מה מייחד את הפעילות?</h2>
      	<div class="row">
      	<div class="col-md-1"></div>
           <div class="col-md-10">
          <p dir="rtl" style="font-family: 'Varela Round'; color: white;">&#8226; פעילות ממקום של יושרה ושקיפות מקצועית מול הלקוח.<br>
&#8226; איתור הצרכים ומיקוד בתוצאה הרצויה לפני תחילת הליווי.<br>
&#8226; בניית תהליכים תפורים ליחודיות הארגונית ולמשתתפים.<br>
&#8226; תהליכי הליווי/האימון האישי הם מדויקים נוקבים וחומלים כאחד.<br>
&#8226; דרך הליווי משלבת הסתכלות פנימה, פרואקטיביות ושותפות.<br>
&#8226; ניסיון רב שנים של הבנה מהשטח של צרכי הארגון.<br>
&#8226; ניסיון רב של שעות ארוכות בתהליכי ליווי ואימון אישי במגוון רחב של ארגונים בדרגים שונים.</p>
          </div>
                	<div class="col-md-1"></div>
          </div>
        <hr>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted" style="margin-top: 0px;">Copyright &copy; Ora Sar-Shalom 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/clean-blog.min.js"></script>

  </body>

</html>
