<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>אורה שר שלום | מנהיגות חדשה</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">
    <link href="css/clean-blog.css" rel="stylesheet">

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top " id="mainNav">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive" style="position: left;">
          <ul class="navbar-nav ml-auto" dir="rtl" style="padding-right: 0px; ">
            <li class="nav-item">
              <a class="nav-link" href="about.html" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">אודות</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="DevelopLeadership.html" style="font-family: 'Varela Round'; font-size: 14px; padding-bottom: 0px;" dir="rtl">פיתוח מנהיגות</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="top: 1.53em;">
              <a class="dropdown-item" href="prog1.html" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>ניהול בהסתכלות פנימה</b></a>
              <a class="dropdown-item" href="prog2.html" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>נשים מנהיגות במעגלי חיים</b></a>
            </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="PersonalTraining.html" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">ליווי ואימון אישי</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="workshops.html" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">הכשרות</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="HumanResourcesStrategy.html" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">אסטרטגיית מש"א</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="costumers.html" style="font-family: 'Varela Round'; font-size: 14px; padding-bottom: 0px;" dir="rtl">לקוחות</a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="top: 1.53em;">
              <a class="dropdown-item" href="thanks.html" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 25%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>מכתבי תודה והמלצה</b></a>
            </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="contact.html" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">צור קשר</a>
            </li>
          </ul>
        </div>
        <a class="navbar-brand" href="index.html" style="font-family: 'Varela Round';" dir="rtl">מנהיגות חדשה</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
      </div>
    </nav>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/prog1-bg.jpg')"> <!--pic with licence!!!!!-->
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1 style="font-family: 'Varela Round'; font-size: 70px;">ניהול בהסתכלות פנימה</h1>
              <a class="register" href="contact.html" style="font-family: 'Varela Round'; color: white; padding-top: 0px;" dir="rtl">
                <span class="subheading" style="font-family: 'Varela Round'; " dir="rtl">להרשמה <span style="font-size: 28px;">›</span></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <p dir="rtl" style="text-align: center; font-family: 'Varela Round'; color: rgb(94,94,94);">"בצעירותי בערה בי אש, וחשבתי לתקן את כל העולם,  לכשגדלתי ניתייאשתי מלתקן את העולם וחשבתי לתקן את בני עירי, וכשנוכחתי לדעת שגם זה אינו אפשרי חשבתי לתקן את מישפחתי, וכשזה לא עלה בידי הגעתי למסקנה שעליי לתקן את עצמי, ולכשעבדתי על עצמי ממילא משפחתי הושפעה מכך, וממילא כל בני עירי וממילא כל העולם כולו" (ר' חיים מצאנז)</p>

          <h2 class="section-heading text-uppercase" style="margin-top: 0px; margin-bottom: 0px; font-family: 'Varela Round'; text-align: center;" dir="rtl">רקע:</h2>
          <p dir="rtl" style="text-align: right; margin-bottom: 25px; margin-top: 10px; font-family: 'Varela Round';">במשך שנים בעבודתי עם מנהלים והנהלות ובתפקידי משאבי אנוש בכירים שאלתי את עצמי שוב ושוב את השאלה כיצד לפתח מנהיגות אישית ניהולית וארגונית.<br>
          במהלך השנים נוכחתי לדעת פעם אחרי פעם כי הבסיס לכל זה לצד כלים חיצוניים, היא עבודה מעמיקה משמעותית של האדם עם עצמו, המוכנות להסתכל, לקחת אחריות ולהציב סימני שאלה על האוטומטי והמוכר באופן התנהלותו ובמרקם היחסים שלו עם סביבתו.<br>
          יסודות אילו לצד סביבה ארגונית המאפשרת צמיחה אישית, התנסויות ומרחב ערכי הם שמהווים את הבסיס לפיתוח מנהיגות פנימית וחוסן ניהולי לאורך זמן ומשפיעים על מעגלי ההשפעה של המנהל, סגנונו הניהולי, המרחב הניהולי והמוכנות לקחת אחריות חברתית וסביבתית. 
          </p>

          <hr style="margin-top: 30px; margin-bottom: 30px;">

          <h2 class="section-heading text-uppercase" style="margin-top: 0px; font-family: 'Varela Round'; text-align: center;" dir="rtl">מטרת התכנית:</h2>
          <p dir="rtl" style="text-align: right; margin-bottom: 10.5px; margin-top: 10px; font-family: 'Varela Round';">התוכנית נבנתה מתוך תפיסה כי פיתוח מנהיגות חברתית וניהולית מתחילה בפיתוח מנהיגות אישית המבוססת על חקירה פנימית של התנהלותנו כבסיס ליצירת השפעה במעגלי חיינו הקרובים והרחבים יותר.<br>
          התוכנית  מביאה  מנהלים להכיר בתפיסה כי צמיחתם האישית והניהולית המשמעותית תבוא מתהליכי הסתכלות פנימה, התבוננות  פנימית, ומוכנות להסתכל באומץ על דרך ההתנהלות האישית ולבחון אותה לאור המטרות שאני שם לעצמי כאדם, כמנהל, וכבעל אחריות חברתית.<br>
          התוכנית נותנת דגש על פיתוח מנהיגות פנימית והחוסן האישי והניהולי מתוך עבודה והסתכלות "על מי אני במעגלי ההשפעה השונים שלי".<br>
          במהלך התוכנית  המנהל יבצע תהליכי התבוננות של "אני במראה", ייפתח אפיק חשיבה רחב יותר, ויתמודד עם פערים בין הניהול המיטבי והמנהיגות האישית למה שקיים בפועל, ויחקור את הסיבות לפער.<br>
          בנוסף בכל מפגש יתקיים דיון עמיתים בסוגיות ערך שיוצפו עי המשתתפים בהיבטיים פרקטיים של ניהול, מנהיגות והשפעה חברתית.</p>

          <hr style="margin-top: 30px; margin-bottom: 30px;">

          <h2 class="section-heading text-uppercase" style="margin-top: 0px; font-family: 'Varela Round'; text-align: center;" dir="rtl">למי התכנית מיועדת?</h2>
          <p dir="rtl" style="text-align: right; margin-bottom: 10.5px; margin-top: 10px; font-family: 'Varela Round';">✔️ למנהלים  שמבינים שצמיחתם המשמעותית הבאה, תבוא מהסתכלות ובחינה עצמית על סגנונם, התייחסותם, והערך שהם מביאים לעצמם ,לארגון ולחברה בה הם פועלים ומשפיעים.<br>
          ✔️ למנהלים בצמתי השפעה בארגונים העומדים בפני דילמות ניהוליות ערכיות וחברתיות בתוך הארגון ובסביבתו.<br>
          ✔️ למנהלים המוכנים להעמיד את האוטומט והמוכר של פעילותם לסימן שאלה וחקירה מחודשת ולצמוח מיכך.<br>
          ✔️ לאילו המחפשים מרחב להעלאת דילמות, שאלות ושיתוף הדדי, בתוך מרחב בטוח ואוטנטי.<br>
          ✔️ רוב המשתתפים בתוכנית הינם בוגרי תוכניות ניהול קודמות שמטרתן מתן כלים ומודולים חיצוניים ואילו תוכנית זאת נותנת דגש על תהליכי חקירה והתבוננות פנימית.</p> 

          <hr style="margin-top: 30px; margin-bottom: 30px;">

          <h2 class="section-heading text-uppercase" style="margin-top: 20px; font-family: 'Varela Round'; text-align: center;" dir="rtl">הערך שהתוכנית נותנת:</h2>
          <p dir="rtl" style="text-align: right; margin-bottom: 10.5px; margin-top: 10px; font-family: 'Varela Round';">&#8226; בחינה והבנה עמוקה יותר של המנהיגות הפנימית האישית שלי – וצמיחה אישית משמעותית בעקבות זאת גם במעגלי חיי ובמרחבי ההשפעה שלי.<br>
          &#8226; הצבת סימני שאלה על אופן הניהול האוטומטי, תוך היכולת לעצור להתבונן ולבחור מחדש את המשך פעילותי ומרחבי ההשפעה שלי.<br>
          &#8226; בנית מנהיגות פנימית עמוקה המאפשרת חוסן ניהולי אישי וארגוני, המשמשת כעוגן בדילמות ומצבי עמימות.<br>
          &#8226; ארגז כלים אישי מעמיק ומדויק כיצד להיות בעל ערך ניהולי גבוהה ומשמעותי לכפיפים ולארגון כולו.<br>
          &#8226; הכרות והבנה עמוקה עם השפה ההוויתית ומקומה בפיתוח מנהיגות ואחריות חברתית.<br>
          &#8226; קבוצה מעשירה תומכת ומהווה מרחב לדיונים ושיתוף בסוגיות משמעותיות ערכיות.</p> 

          <hr style="margin-top: 30px; margin-bottom: 30px;">

          <h2 class="section-heading text-uppercase" style="margin-top: 20px; font-family: 'Varela Round'; text-align: center;" dir="rtl">למה חשוב להשתתף?</h2>
          <p dir="rtl" style="text-align: center; margin-bottom: 10.5px; margin-top: 10px; font-family: 'Varela Round';">זוהי זכות גדולה לבצע תהליך כזה של התבוננות.<br>
          זה דורש בגרות ומוכנות לקחת אחריות משמעותית על אופן ההתנהלות האישית, להבין את מעגלי ההשפעה שמתרחשים כתוצאה מימנו ולהביא את עצמי להיות קרוב ומדוייק למי שהייתי רוצה להיות ולהשפיע בחיי.</p> 

          <hr style="margin-top: 30px; margin-bottom: 30px;">

          <h2 class="section-heading text-uppercase" style="margin-top: 20px; font-family: 'Varela Round'; text-align: center;" dir="rtl">מה קורה שם?</h2>
          <p dir="rtl" style="text-align: right; margin-bottom: 10.5px; margin-top: 10px; font-family: 'Varela Round';">המטרה היא שהעבודה העצמית שהאדם עושה במהלך התוכנית תעשה בסביבה ובמרחב המאפשרים זאת.<br>
          התוכנית תבטיח מרחב של אינטימיות, קבוצה המהווה קבוצת התבוננות, השתקפות, הקשבה וצוות הנמצא שם עבור המשתתפים ומהווה סביבה גם להעלאת סוגיות ניהולית באופן מצמיח ותומך.<br>
          המשתתפים יתנסו בתרגילים אישיים מעולם האימון האישי וכן בשאלונים מתחום מדעי ההתנהגות.</p>

          <hr style="margin-top: 30px; margin-bottom: 30px;">
          <div class="container" style="vertical-align: center; margin-bottom: 15px;">
          <h2 class="section-heading text-uppercase" style="margin-top: 20px; font-family: 'Varela Round'; text-align: center;" dir="rtl">תכני המפגשים: <span style="color:rgb(94,94,94);font-size:20px">עיקרי הנושאים שיידונו בכל מפגש (סה"כ 15 מפגשים)</h2></span></h2></div>
          <p dir="rtl" style="text-align: right; margin-bottom: 20px; margin-top: 10px; font-family: 'Varela Round';">המטרה היא שהעבודה העצמית שהאדם עושה במהלך התוכנית תעשה בסביבה ובמרחב המאפשרים זאת.<br>
          התוכנית תבטיח מרחב של אינטימיות, קבוצה המהווה קבוצת התבוננות, השתקפות, הקשבה וצוות הנמצא שם עבור המשתתפים ומהווה סביבה גם להעלאת סוגיות ניהולית באופן מצמיח ותומך.<br>
          המשתתפים יתנסו בתרגילים אישיים מעולם האימון האישי וכן בשאלונים מתחום מדעי ההתנהגות.</p>


          <section id="services">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-4">
              <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;" dir="rtl">מפגש מס' 3:<br>תפיסת יכולת אישית, הערכה וביטחון עצמי</h4>
              <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">עיצוב תפיסת היכולת האישית – מודל הידיעה פנימי, חוויות מעצבות , killer mind, עיצוב תחושת מסוגלות והשפעה במעגלי חיי.</p>
            </div>
            <div class="col-md-4">
              <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;" dir="rtl">מפגש מס' 2:<br>הוויות ומערכות היחסים בחיי</h4>
              <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">הסתכלות על מערכות היחסים בחיי ובעולמי המקצועי, הוויות בהם אני מתנהל במעגלי ההשפעה שלי, הקשבה אקטיבית כבסיס לבניית יחסים ואפיון סגנונות ההקשבה שלי במעגלי ההשפעה שלי. </p>
            </div>            
            <div class="col-md-4">
              <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;" dir="rtl">מפגש מס'1:<br> אני כמנהל – ערכים, תפיסות ואמונות בניהול שלי</h4>
              <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">מהם הערכים הניהולים שלי – אפיון DNA ניהולי אישי כמצפן ניהולי.<br>מיפוי ניהולי, דמויות ניהול משמעותיות והשפעתן, צמיחה ניהולית אישית – מה נידרש לי לאמץ.</p>
            </div></div>

            <hr style="margin-top: 30px; margin-bottom: 30px;">

            <div class="row text-center">
            <div class="col-md-4">
              <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;" dir="rtl">מפגש מס' 6:<br>ניהול משאבים  ניהוליים</h4>
              <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">אפיון המשאבים הניהולים שלי, כלים  כלים לניהול המשאבים  שיצרתי לעצמי והאם הם אפקטיביים :ישיבות, דוחות, דווחים, ראשי צוותים, זמן, כ"א וכד'.<br> השפעת ניהול המשאבים על הסביבה בה אני פועל, טובתי האישית מול טובת הארגון.</p>
            </div>
            <div class="col-md-4">
              <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;" dir="rtl">מפגש מס' 5:<br>טיפול בקונפליקטים</h4>
              <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">מהו קונפליקט עבורי? אבחנה בין קונפליקט פנימי חיצוני,  מתי אני הופך להיות חלק מקונפליקט, איזה כובע אני לוקח בקונפליקטים והאם הוא אפקטיבי, שאלון אבחון טיפול בקונפליקטים, הפרד ומשול... האמנם?</p>
            </div>            
            <div class="col-md-4">
              <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;" dir="rtl">מפגש מס' 4:<br> יעדים וניהול אנשים</h4>
              <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">הצבת יעדים וניהול שוטף – הערך שלי  כמנהל וכמנהיג.<br>מי אני מול הצוות שלי, כיצד אני מזהה את צרכי הצוות, האם אני קשוב לצרכי הפרט בצוות, מימה אני נימנע בניהול הכפיפים.</p>
            </div></div>

            <hr style="margin-top: 30px; margin-bottom: 30px;">

            <div class="row text-center">
            <div class="col-md-4">
              <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;" dir="rtl">מפגש מס' 9:<br> יצירת השפעה ומוטיבציה</h4>
              <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">האם אני יוצר  או מדכא מוטיבציה בקרב סביבתי...? מהם האמצעים האישיים שלי ליצירת מוטיבציה והשפעה/גורמי מוטיבציה בקרב כפיפים וכיצד אני מזהה אותם, מנהיג כמנהל מנהיגים תחתיו.</p>
            </div>
            <div class="col-md-4">
              <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;" dir="rtl">מפגש מס' 8:<br> שמחה, הודיה ושביעות רצון</h4>
              <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">האם קיימת בחיי שמחה הודיה ושביעות רצון? באילו תחומים ולמה זה חשוב לי ניהולית.<br> תפיסת השפע שלי כמרכיב בחוסן ניהולי וגורם משפיע ביכולתי לגלות נדיבות, רוחב לב ושפע לאחרים שבסביבתי.</p>
            </div>            
            <div class="col-md-4">
              <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;" dir="rtl">מפגש מס' 7:<br> חזון והשפעה</h4>
              <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">האם יש לי חזון לעצמי לתפקיד, את מי אני מפעיל, על מה אני משפיע ולמי אני תורם?<br>
              איך הייתי רוצה לשאיר את התפקיד אחרי ברמת תוצרים וברמת הוויה.<br> כיצד נהנת הסביבה הראשונה שלי ומעגלי ההשפעה שלי מהחזון (כפיפים, ממונה, לקוחות ספקים, החברה).<br>
              האם יש בחזון שלי הרחבת הטוב, השפעה חברתית.</p>
            </div></div>

            <hr style="margin-top: 30px; margin-bottom: 30px;">

            <div class="row text-center">
            <div class="col-md-4">
              <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;" dir="rtl">מפגש מס' 12:<br> הכנה הוויתית למפגשים חשובים/מו"מ/פגישות </h4>
              <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">הכנה הוויות לשיחות/פגישות חשובות,  מיקוד בהוויה תוך יצירת דיוק מירבי, הגדרת מטרת הפגישה ברמת הערך והיחסים והרחבת הטוב.<br> יצירת מיקוד ותכנים.</p>
            </div>
            <div class="col-md-4">
              <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;" dir="rtl">מפגש מס' 11:<br> אתגרים ניהולים</h4>
              <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">מהם מאפייני אתגר? מהו אתגר עבורי? כיצד אני יודע האם אוכל לאתגר? – מודל הידיעה, כיצד אני בוחר להתמודד עם אתגרים חדשים? מודל הידיעה והעתקת יכולות.<br>
              אתגר ומחויבות חברתית, האם אני מאתגר בסביבה בה אני פועל וכיצד.</p>
            </div>            
            <div class="col-md-4">
              <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;" dir="rtl">מפגש מס' 10:<br> אינטואיציות/אותנטיות וקבלת החלטות</h4>
              <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">כיצד אני מקבל החלטה – אבחון סגנון אישי לקבלת החלטות.<br>
              האם נוח לי עם סגנון קבלת החלטות שלי?<br>
              הקול הפנימי ואינטואיציה בקבלת החלטות.<br>
              ערכים וערכי DNA אישי ומקומם בקבלת ההחלטות.</p>
            </div></div>

            <hr style="margin-top: 30px; margin-bottom: 30px;">

            <div class="row text-center">
            <div class="col-md-4">
              <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;" dir="rtl">מפגש מס' 15:<br> *חסר*</h4>
              <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">*חסר*</p>
            </div>
            <div class="col-md-4">
              <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;" dir="rtl">מפגש מס' 14:<br> עם מי ומה אני יוצא לדרך...</h4>
              <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">"אם יוצאים מגיעים למקומות נפלאים...."<br>
              מה לקחתי... איך זה אמור להשתקף במעגלי חיי ובמנהיגות האישית שלי? חוסן ניהולי והשפעתו, מה ישמור אותי לפעול בהלימה לתובנות שהשגתי?</p>
            </div>            
            <div class="col-md-4">
              <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;" dir="rtl">מפגש מס' 13:<br> הכלה והובלת שינוי</h4>
              <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">הדרך בה אתה מתמודד עם שינוי....<br>
              זוהי הדרך בה אתה חי את חייך!<br>
              מהו שינוי עבורך? מה מאפיין שינויים? אבחון סגנון ההתנהלות האישי, ביצוע Swot מול שינוי בהסתכלות פנימה, זיהוי הזדמנויות והובלת שינוי, האגו האישי והטמעת שינוי.</p>
            </div></div>
            </div></section>
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
  <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted" style="margin-top: 0px;">Copyright &copy; Ora Sar-Shalom 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>

  </body>

</html>
