<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>אורה שר שלום | מנהיגות חדשה</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/clean-blog.min.css" rel="stylesheet">
    <link href="/static/css/clean-blog.css" rel="stylesheet">

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top " id="mainNav">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive" style="position: left;">
          <ul class="navbar-nav ml-auto" dir="rtl" style="padding-right: 0px; ">
            <li class="nav-item">
              <a class="nav-link" href="about.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">אודות</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="DevelopLeadership.php" style="font-family: 'Varela Round'; font-size: 14px; padding-bottom: 0px;" dir="rtl">פיתוח מנהיגות<span class="arrow" style="padding-right: 2px;"> 🢐</span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="top: 1.53em;">
              <a class="dropdown-item" href="prog1.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>ניהול בהסתכלות פנימה</b></a>
              <a class="dropdown-item" href="prog2.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>נשים מנהיגות במעגלי חיים</b></a>
            </div>
            </li>

            <li class="nav-item phone">
            <a class="dropdown-item" href="prog1.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>ניהול בהסתכלות פנימה</b></a>
            </li>

            <li class="nav-item phone">
            <a class="dropdown-item" href="prog2.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>נשים מנהיגות במעגלי חיים</b></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="PersonalTraining.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">ליווי ואימון אישי</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="workshops.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">הכשרות</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="HumanResourcesStrategy.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">אסטרטגיית מש"א</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="costumers.php" style="font-family: 'Varela Round'; font-size: 14px; padding-bottom: 0px;" dir="rtl">לקוחות<span class="arrow" style="padding-right: 2px;"> 🢐</span></a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="top: 1.53em;">
              <a class="dropdown-item" href="thanks.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 25%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>מכתבי תודה והמלצה</b></a>
            </div>
            </li>

            <li class="nav-item phone">
            <a class="dropdown-item" href="thanks.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline; margin-right: 25%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>מכתבי תודה והמלצה</b></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="contact.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">צור קשר</a>
            </li>
          </ul>
        </div>
        <a class="navbar-brand" href="index.php" style="font-family: 'Varela Round';" dir="rtl">מנהיגות חדשה</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          תפריט
          <i class="fa fa-bars"></i>
        </button>
      </div>
    </nav>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/prog2-bg.jpg')"> <!--pic with licence!!!!!-->
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1 style="font-family: 'Varela Round'; font-size: 65px;">נשים מנהיגות במעגלי חיים</h1>
              <a class="register" href="https://lp.vp4.me/gcct" style="font-family: 'Varela Round'; color: white; padding-top: 0px;" dir="rtl">
                <span class="subheading" style="font-family: 'Varela Round'; " dir="rtl">לפרטים נוספים <span style="font-size: 28px;">›</span></span>
              </a>
              <a class="register" href="https://lp.vp4.me/gpfx" style="font-family: 'Varela Round'; color: white; padding-top: 0px;" dir="rtl">
                <span class="subheading" style="font-family: 'Varela Round'; " dir="rtl">להרשמה <span style="font-size: 28px;">›</span></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <p dir="rtl" style="text-align: center; font-family: 'Varela Round'; color: rgb(94,94,94);">"ניסיתי לשנות את העולם ולא הצלחתי, עבדתי על עצמי – השתנה כל העולם" (ר' ישראל מסלנט)</p>

          <h2 class="section-heading text-uppercase" style="margin-top: 0px; margin-bottom: 0px; font-family: 'Varela Round'; text-align: center;" dir="rtl">מטרת התכנית:</h2>
          <p dir="rtl" style="text-align: right; margin-bottom: 25px; margin-top: 10px; font-family: 'Varela Round';">התוכנית נותנת כלים אימונים להתבוננות על חיינו באומץ ובתשוקה, ועל האופן בו אנו מתנהלות ומנהיגות בחיי היום יום שלנו במעגלי החיים.<br> 
          ההנחה בסיס התוכנית היא כי הסתכלות והתבוננות פנימית על חיינו יביאו אותנו לצמיחתנו הבאה.<br>
          מתי בפעם האחרונה עצרת לשאול את עצמך מה הם הערכים המנהלים אותי? את מי פוגשים כשנפגשים איתי? האם אני מעצבת או מגיבה בחיי, האם אני נוהגת כאוטומט או בוחרת בתגובותיי בהלימה למי שהיית רוצה להיות.<br>
          זוהי הזמנה לעצירה, להתבוננות על חייך, על הבחירות וההנחות המובילות אותך במעגלי החיים השונים (הורות, זוגיות, קריירה, כסף, בריאות, שינויים, קונפליקטים וכד').<br> העצירה וההתבוננות נעשים באמצעות כלים אימוניים שיאפשרו לך להיות "מאמנת של חייך".<br>
          התוכנית מביאה אותך לצאת מדפוס ההתנהלות האוטומטית ולבחור מחדש מי ואיך אני רוצה להיות כמנהיגה של חיי ובמעגלי ההשפעה בהם אני פועלת.<br>
          זוהי בחירה בחופש פנימי לעצב ולא להגיב, ולשאול את עצמך האם אני נותנת במערכות היחסים שלי בחיי את מה שהייתי רוצה לקבל ואיך לעשות זאת.</p>

          <hr style="margin-top: 30px; margin-bottom: 30px;">

          <h2 class="section-heading text-uppercase" style="margin-top: 0px; margin-bottom: 0px; font-family: 'Varela Round'; text-align: center;" dir="rtl">מה קורה בתוכנית?</h2>
          <p dir="rtl" style="text-align: right; margin-bottom: 25px; margin-top: 10px; font-family: 'Varela Round';">בתוכנית תמצאי את עצמך כחוקרת של חייך העומדת ומביטה לפעמים בפליאה, בצחוק או בכאב על האישה המופלאה הזאת שמולך הנקראת את.<br>
          עיקר סיבלנו מצוי בפער בין מי שהיינו רוצות להיות ולהרגיש לאופן בו אנו מתנהלות.<br>
          בתוכנית אנו חוקרות את הפער הזה מול מעגלי חיים שונים, לומדות את נסיבותיו, ובוחרות לדייק את עצמנו ולבחור מחדש בתגובותינו.<br>
          באמצעות התבוננות נטולת שיפוטיות, שאלונים, תרגילים ומרחב אימוני בטוח בקורס, יתאפשר לך לצד ההתבוננות פנימה לבחור מחדש את התנהלותך ולהפסיק לפעול מהאוטומט שניהל אותך עד היום.<br>זוהי הזמנה למסע של צמיחה מרתקת להסתכל על חייך באומץ ובתשוקה, לחזור הביתה פנימה, ולהתנהל ממקום קרוב ומפויס עם עצמך וסביבתך.</p>

          <hr style="margin-top: 30px; margin-bottom: 30px;">

          <h2 class="section-heading text-uppercase" style="margin-top: 0px; margin-bottom: 0px; font-family: 'Varela Round'; text-align: center;" dir="rtl">כיצד זה נעשה?</h2>
          <p dir="rtl" style="text-align: right; margin-bottom: 25px; margin-top: 10px; font-family: 'Varela Round';">המפגשים מבוססים על תפיסת המרחב הבטוח הקבוצתי והקבוצה כקהילה.<br>
          בכל מפגש יילמד חומר חדש אשר יודגם בהתנסות אימונית, יעשה תהליך של הסתכלות אישית פנימית, עבודה בזוגות ומרחב שיתופי להעלאת דילמות.<br>
          כל אחד מהמשתתפות תוכל לבחור את מידת החשיפה האישית שלה בקבוצה.<br>
          בנוסף יינתן מקום לשיתופים, ייצגו דילמות להתייחסות ויעשה תהליך לימודי אבחוני אישי של הסתכלות פנימה ולמידה פנימית.<br>
          הלמידה משלבת כלים מתחום מדעי ההתנהגות ומעולם האימון והליווי האישי.</p>

          <hr style="margin-top: 30px; margin-bottom: 30px;">

          <h2 class="section-heading text-uppercase" style="margin-top: 0px; margin-bottom: 0px; font-family: 'Varela Round'; text-align: center;" dir="rtl">עם מה יוצאים?</h2>
          <p dir="rtl" style="text-align: center; margin-bottom: 25px; margin-top: 10px; font-family: 'Varela Round';">&#8226; תחושת צמיחה משמעותית ושיפור משמעותי בתחושת היכולת האישית.<br>
          &#8226; אנרגיה לפעול ולהתנסות בדברים שבעבר נמנעת מהם.<br>
          &#8226; דיוק פנימי ויציאה מדפוסים אוטומטים שניהלו אותנו עד היום.<br>
          &#8226; סט שאלות אימוניות מדייקות שיאפשרו לך למצוא חופש ודרך נינוחה מדויקת עבורך לפעול.<br>
          &#8226; כלים להיות המאמנת של חייך.<br>
          &#8226; בחירה מודעת בהתנהגויות שהן בהלימה לערכים שלנו.</p>

        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted" style="margin-top: 0px;">Copyright &copy; Ora Sar-Shalom 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/clean-blog.min.js"></script>

  </body>

</html>
