<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>אורה שר שלום | מנהיגות חדשה</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/clean-blog.min.css" rel="stylesheet">
    <link href="/static/css/clean-blog.css" rel="stylesheet">

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top " id="mainNav">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive" style="position: left;">
          <ul class="navbar-nav ml-auto" dir="rtl" style="padding-right: 0px; ">
            <li class="nav-item">
              <a class="nav-link" href="about.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">אודות</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="DevelopLeadership.php" style="font-family: 'Varela Round'; font-size: 14px; padding-bottom: 0px;" dir="rtl">פיתוח מנהיגות</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="top: 1.53em;">
              <a class="dropdown-item" href="prog1.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>ניהול בהסתכלות פנימה</b></a>
              <a class="dropdown-item" href="prog2.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>נשים מנהיגות במעגלי חיים</b></a>
            </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="PersonalTraining.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">ליווי ואימון אישי</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="workshops.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">הכשרות</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="HumanResourcesStrategy.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">אסטרטגיית מש"א</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="costumers.php" style="font-family: 'Varela Round'; font-size: 14px; padding-bottom: 0px;" dir="rtl">לקוחות</a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="top: 1.53em;">
              <a class="dropdown-item" href="thanks.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 25%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>מכתבי תודה והמלצה</b></a>
            </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="contact.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">צור קשר</a>
            </li>
          </ul>
        </div>
        <a class="navbar-brand" href="index.php" style="font-family: 'Varela Round';" dir="rtl">מנהיגות חדשה</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
      </div>
    </nav>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/thanks-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1 style="font-family: 'Varela Round';"><b>מכתבי תודה והמלצה</b></h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!--Services-->
	<section id="services">
	      <div class="container">
	        <div class="row">
	          <div class="col-lg-12 text-center">
              <h3 class="section-subheading text-muted" dir="rtl" style="font-family: 'Varela Round'; font-size: 20px; margin-bottom: 30px;"><span style=" color: rgba(94,94,94, 0.5);">לחצו על הכותרת בכדי לעבור לתצוגה במסך מלא</span></h3>
	          </div>
	        </div>
	        <div class="row text-center">

            <div class="col-lg-6 col-md-12" style="margin-bottom: 15px;">
              <a href="/static/pdf/mafam.pdf">
                <h4 class="service-heading" style="font-family: 'Varela Round';">נגה נדן - תוכנית מנהיגות</h4>
              </a>
                  <object data="/static/pdf/noga.pdf" type="application/pdf" width="90%" height="650px;">
                    <iframe src="/static/pdf/noga.pdf" width="100%" height="100%" style="border: none; height: 1000px;">
                    </iframe>
                  </object>
            </div>
            <div class="col-lg-6 col-md-12" style="margin-bottom: 15px;">
              <a href="/static/pdf/mafam.pdf">
                <h4 class="service-heading" style="font-family: 'Varela Round';">מפעם ירושלים</h4>
                </a>
                  <object data="/static/pdf/mafam.pdf" type="application/pdf" width="90%" height="650px;">
                    <iframe src="/static/pdf/mafam.pdf" width="100%" height="100%" style="border: none; height: 1000px;">
                    </iframe>
                  </object>
            </div>

            <div class="col-lg-6 col-md-12" style="margin-bottom: 15px;">
              <a href="/static/pdf/medtronic.pdf">
                <h4 class="service-heading" style="font-family: 'Varela Round';">מדטרוניק - אימון תעסוקתי</h4>
                </a>
                  <object data="/static/pdf/medtronic.pdf" type="application/pdf" width="90%" height="650px;">
                    <iframe src="/static/pdf/medtronic.pdf" width="100%" height="100%" style="border: none; height: 1000px;">
                    </iframe>
                  </object>
            </div>

            <div class="col-lg-6 col-md-12" style="margin-bottom: 15px;">
              <a href="/static/pdf/alon.pdf">
                <h4 class="service-heading" style="font-family: 'Varela Round';">אלון שפייזר</h4>
                </a>
                  <object data="/static/pdf/alon.pdf" type="application/pdf" width="90%" height="650px;">
                    <iframe src="/static/pdf/alon.pdf" width="100%" height="100%" style="border: none; height: 1000px;">
                    </iframe>
                  </object>
            </div>

            <div class="col-lg-6 col-md-12" style="margin-bottom: 15px;">
              <a href="/static/pdf/nihul.pdf">
                <h4 class="service-heading" style="font-family: 'Varela Round';">המרכז הישראלי לניהול</h4>
                </a>
                  <object data="/static/pdf/nihul.pdf" type="application/pdf" width="90%" height="650px;">
                    <iframe src="/static/pdf/nihul.pdf" width="100%" height="100%" style="border: none; height: 1000px;">
                    </iframe>
                  </object>
            </div>

            <div class="col-lg-6 col-md-12" style="margin-bottom: 15px;">
              <a href="/static/pdf/usa.pdf">
                <h4 class="service-heading" style="font-family: 'Varela Round';">השגרירות האמריקאית</h4>
                </a>
                  <object data="/static/pdf/usa.pdf" type="application/pdf" width="90%" height="650px;">
                    <iframe src="/static/pdf/usa.pdf" width="100%" height="100%" style="border: none; height: 1000px;">
                    </iframe>
                  </object>
            </div>

            <div class="col-lg-6 col-md-12" style="margin-bottom: 15px;">
              <a href="/static/pdf/medtronic2.pdf">
                <h4 class="service-heading" style="font-family: 'Varela Round';">מדטרוניק - תכנית מנהיגות</h4>
                </a>
                  <object data="/static/pdf/medtronic2.pdf" type="application/pdf" width="90%" height="650px;">
                    <iframe src="/static/pdf/medtronic2.pdf" width="100%" height="100%" style="border: none; height: 1000px;">
                    </iframe>
                  </object>
            </div>

            <div class="col-lg-6 col-md-12" style="margin-bottom: 15px;">
              <a href="/static/pdf/kovadion.pdf">
                <h4 class="service-heading" style="font-family: 'Varela Round';">קובדיון</h4>
                </a>
                  <object data="/static/pdf/kovadion.pdf" type="application/pdf" width="90%" height="650px;">
                    <iframe src="/static/pdf/kovadion.pdf" width="100%" height="100%" style="border: none; height: 1000px;">
                    </iframe>
                  </object>
            </div>

            <div class="col-lg-6 col-md-12" style="margin-bottom: 15px;">
              <a href="/static/pdf/prime-minister.pdf">
                <h4 class="service-heading" style="font-family: 'Varela Round';">משרדי ראש הממשלה</h4>
                </a>
                  <object data="/static/pdf/prime-minister.pdf" type="application/pdf" width="90%" height="650px;">
                    <iframe src="/static/pdf/prime-minister.pdf" width="100%" height="100%" style="border: none; height: 1000px;">
                    </iframe>
                  </object>
            </div>

            <div class="col-lg-6 col-md-12" style="margin-bottom: 15px;">
              <a href="/static/pdf/haivrit.pdf">
                <h4 class="service-heading" style="font-family: 'Varela Round';">האוניברסיטה העברית</h4>
                </a>
                  <object data="/static/pdf/haivrit.pdf" type="application/pdf" width="90%" height="650px;">
                    <iframe src="/static/pdf/haivrit.pdf" width="100%" height="100%" style="border: none; height: 1000px;">
                    </iframe>
                  </object>
            </div>

            <div class="col-lg-6 col-md-12" style="margin-bottom: 15px;">
              <a href="/static/pdf/knesset.pdf">
                <h4 class="service-heading" style="font-family: 'Varela Round';">כנסת ישראל</h4>
                </a>
                  <object data="/static/pdf/knesset.pdf" type="application/pdf" width="90%" height="650px;">
                    <iframe src="/static/pdf/knesset.pdf" width="100%" height="100%" style="border: none; height: 1000px;">
                    </iframe>
                  </object>
            </div>

	        </div>
	        <hr>
	      </div>
	    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted" style="margin-top: 0px;">Copyright &copy; Ora Sar-Shalom 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/clean-blog.min.js"></script>

  </body>

</html>
