<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>אורה שר שלום | מנהיגות חדשה</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/clean-blog.min.css" rel="stylesheet">
    <link href="/static/css/clean-blog.css" rel="stylesheet">

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top " id="mainNav">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive" style="position: left;">
          <ul class="navbar-nav ml-auto" dir="rtl" style="padding-right: 0px; ">
            <li class="nav-item">
              <a class="nav-link" href="about.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">אודות</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="DevelopLeadership.php" style="font-family: 'Varela Round'; font-size: 14px; padding-bottom: 0px;" dir="rtl">פיתוח מנהיגות<span class="arrow" style="padding-right: 2px;"> 🢐</span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="top: 1.53em;">
              <a class="dropdown-item" href="prog1.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>ניהול בהסתכלות פנימה</b></a>
              <a class="dropdown-item" href="prog2.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>נשים מנהיגות במעגלי חיים</b></a>
               <a class="dropdown-item" href="prog3.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>פיתוח חזון וערכים</b></a>
            </div>
            </li>

            <li class="nav-item phone">
            <a class="dropdown-item" href="prog1.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>ניהול בהסתכלות פנימה</b></a>
            </li>

            <li class="nav-item phone">
            <a class="dropdown-item" href="prog2.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>נשים מנהיגות במעגלי חיים</b></a>
            </li>

             <li class="nav-item phone">
            <a class="dropdown-item" href="prog3.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>פיתוח חזון וערכים</b></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="PersonalTraining.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">ליווי ואימון אישי</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="HumanResourcesStrategy.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">אסטרטגיית מש"א</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="workshops.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">הכשרות</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="costumers.php" style="font-family: 'Varela Round'; font-size: 14px; padding-bottom: 0px;" dir="rtl">לקוחות<span class="arrow" style="padding-right: 2px;"> 🢐</span></a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="top: 1.53em;">
              <a class="dropdown-item" href="thanks.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 25%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>מכתבי תודה והמלצה</b></a>
              <a class="dropdown-item" href="gallery.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 25%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>גלריה</b></a>
            </div>
            </li>

            <li class="nav-item phone">
            <a class="dropdown-item" href="thanks.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline; margin-right: 25%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>מכתבי תודה והמלצה</b></a>
            </li>
            <li class="nav-item phone">
            <a class="dropdown-item" href="gallery.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 25%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>גלריה</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">צור קשר</a>
            </li>
          </ul>
        </div>
        <a class="navbar-brand" href="index.php" style="font-family: 'Varela Round';" dir="rtl">מנהיגות חדשה</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          תפריט
          <i class="fa fa-bars"></i>
        </button>
      </div>
    </nav>
    
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/workshop1-bg.jpg')"> <!--pic with licence!!!!!-->
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1 style="font-family: 'Varela Round'; font-size: 70px;">משאבי אנוש</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <h2 class="section-heading text-uppercase" style="margin-top: 0px; margin-bottom: 20px; font-family: 'Varela Round'; text-align: center;" dir="rtl">הכשרות בתחום משאבי אנוש</h2>
          <hr style="width: 300px; margin-bottom: 30px;">
            <h4 class="section-heading text-uppercase" style="margin-top: 0px; margin-bottom: 0px; font-family: 'Varela Round'; text-align: right; font-size: 25px; color: rgb(94,94,94);" dir="rtl">קליטה וחניכה של עובד חדש:</h4>
          <p dir="rtl" style="text-align: right; margin-bottom: 25px; margin-top: 10px; font-family: 'Varela Round';">מתהליך קליטתו של עובד חדש במערכת הוא בעל משמעות גדולה בהבטחת שילובו העתידי בארגון.<br>
          בהכשרה נלמד כיצד קולטים עובד חדש באופן שיבטיח את שילובו לאורך זמן במערכת, חשיבותו של החונך הניהולי ועקרונות החניכה הניהולית.
          </p>

          <hr style="width: 600px; margin-bottom: 30px;">
            <h4 class="section-heading text-uppercase" style="margin-top: 0px; margin-bottom: 0px; font-family: 'Varela Round'; text-align: right; font-size: 25px; color: rgb(94,94,94);" dir="rtl">הכשרת פנים ארגונית של מנהלים בנושא גיוס וראיון כוח אדם:</h4>
          <p dir="rtl" style="text-align: right; margin-bottom: 25px; margin-top: 10px; font-family: 'Varela Round';">מחקרים הוכיחו כי סינון ואבחון מדויק בשלב הגיוס יבטיחו את הישארותו של המועמד לאורך זמן בארגון.<br> מטרת ההכשרה לימוד מנהלים, הנדרשים לגייס עובדים למחלקתם ולבצע ראיונות אישים, בטכניקות התשאול והאבחון וכיצד לבצע ראיון אישי מובנה.
          </p>

          <hr style="margin-top: 30px; margin-bottom: 30px;">


          <h4 class="section-heading text-uppercase" style="margin-top: 0px; margin-bottom: 0px; font-family: 'Varela Round'; text-align: right; font-size: 25px; color: rgb(94,94,94);" dir="rtl">בניית תוכנית הדרכה אפקטיבית ומדידת אפקטיביות הדרכה:</h4>
          <p dir="rtl" style="text-align: right; margin-bottom: 25px; margin-top: 10px; font-family: 'Varela Round';">בבסיס אפקטיביות ההדרכה עומדת בנית תוכנית הדרכה המחוברת ליעדים העסקיים ותומכת בהשגתם.<br>
          בהכשרה נלמד כיצד לבצע אבחון ובירור צרכי הדרכה, בדיקת עלות תועלת להדרכה מבוקשת, ובניית תוכנית הדרכה שנתית המבוססת על רתימה ארגונית.
          </p>

          
    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted" style="margin-top: 0px;">Copyright &copy; Ora Sar-Shalom 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/clean-blog.min.js"></script>

  </body>

</html>
