<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>אורה שר שלום | מנהיגות חדשה</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/clean-blog.min.css" rel="stylesheet">
    <link href="/static/css/clean-blog.css" rel="stylesheet">

  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top " id="mainNav">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive" style="position: left;">
          <ul class="navbar-nav ml-auto" dir="rtl" style="padding-right: 0px; ">
            <li class="nav-item">
              <a class="nav-link" href="about.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">אודות</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="DevelopLeadership.php" style="font-family: 'Varela Round'; font-size: 14px; padding-bottom: 0px;" dir="rtl">פיתוח מנהיגות</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="top: 1.53em;">
              <a class="dropdown-item" href="prog1.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>ניהול בהסתכלות פנימה</b></a>
              <a class="dropdown-item" href="prog2.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 17.5%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>נשים מנהיגות במעגלי חיים</b></a>
            </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="PersonalTraining.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">ליווי ואימון אישי</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="workshops.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">הכשרות</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="HumanResourcesStrategy.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">אסטרטגיית מש"א</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="costumers.php" style="font-family: 'Varela Round'; font-size: 14px; padding-bottom: 0px;" dir="rtl">לקוחות</a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="top: 1.53em;">
              <a class="dropdown-item" href="thanks.php" style="font-family: 'Varela Round'; box-shadow: 0px !important; display: inline-block; margin-right: 25%; padding-top: -5px; font-size: 14px; letter-spacing: 0.035em;"><b>מכתבי תודה והמלצה</b></a>
            </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="contact.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">צור קשר</a>
            </li>
          </ul>
        </div>
        <a class="navbar-brand" href="index.php" style="font-family: 'Varela Round';" dir="rtl">מנהיגות חדשה</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/workshops-bg.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1 style="font-family: 'Varela Round';"><b>הכשרות</b></h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!--Services-->
	<section id="services">
	      <div class="container">
	        <div class="row">
	          <div class="col-lg-12 text-center">
	            <p dir="rtl" style="text-align: center; font-family: 'Varela Round'; color: rgb(94,94,94); font-size: 23px;">ההכשרות כולן משלבות ידע תיאורטי עם עולם<br> התוכן הארגוני והן בנויות בהתאמה לצרכי הארגון, שלב בשלותו ולאחר איסוף צרכים מדויק.</p>
	          </div>
	        </div>
	        <div class="row text-center">
	          <div class="col-md-4">
	            <span class="fa-stack fa-4x">
              <a class="nav-link" href="workshop3.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">
	              <img src="/static/img/stars.jpg" style="border-radius: 50%; height: 130px; width: 130px;">
	            </span>
	            <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;">פיתוח אסטרטגיה ארגונית</h4>
	            <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">*חסר*</p></a>
	          </div>
	          <div class="col-md-4">
	            <span class="fa-stack fa-4x">
              <a class="nav-link" href="workshop2.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">
	              <img src="/static/img/penguins.jpg" style="border-radius: 50%; height: 130px; width: 130px;">
	            </span>
	            <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;">פיתוח מיומנויות ניהול</h4>
	            <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">בניית חזון ומטרות לצוות הנהלה עבודה עם צוות הנהלה ליצירת מיקוד ובהירות לגבי חזון החברה ומטרותיה לטווח הקצר, הבינוני והארוך. באמצעות התהליך ניתן לבנות תוכנית עבודה ממוקדת יעדים ומטרות לכל</p></a>
	          </div>
	          <div class="col-md-4">
	            <span class="fa-stack fa-4x">
              <a class="nav-link" href="workshop1.php" style="font-family: 'Varela Round'; font-size: 14px;" dir="rtl">
	              <img src="/static/img/hand.jpg" style="border-radius: 50%; height: 130px; width: 130px;">
	            </span>
	            <h4 class="service-heading" style="font-family: 'Varela Round'; margin-top: 10px;">משאבי אנוש</h4>
	            <p class="text-muted" dir="rtl" style="margin-top: 10px; font-family: 'Varela Round'; font-size:18px;">הכשרת פנים ארגונית של מנהלים בנושא גיוס וראיון כוח אדם.<br>
              מחקרים הוכיחו כי סינון ואבחון מדויק בשלב הגיוס יבטיחו את הישארותו של המועמד לאורך זמן בארגון.</p></a>
	          </div>
	        </div>
	        <hr>
	      </div>
	    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted" style="margin-top: 0px;">Copyright &copy; Ora Sar-Shalom 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/clean-blog.min.js"></script>

  </body>

</html>
